include _mixins
block footer

    footer#footer.footer

        .footer__inner

            .container

                .footer__top

                    .footer__contact
                        .footer__contact-head
                            .footer__contact-icon
                                img(src="assets/images/phone.svg", alt="icon")
                            .footer__contact-title Отдел продаж
                        .footer__contact-value
                            a(href="tel:+7 (499) 136-65-85") +7 (499) 136-65-85
                            br
                            a(href="mailto:obnovidivan.msk@yandex.ru") obnovidivan.msk@yandex.ru

                    .footer__contact
                        .footer__contact-head
                            .footer__contact-icon
                                img(src="assets/images/bolt.svg", alt="icon")
                            .footer__contact-title Горячая линия
                        .footer__contact-value
                            a(href="tel:+7 (977) 422-05-40") +7 (977) 422-05-40
                            br
                            a(href="mailto:obnovidivan.msk@yandex.ru") obnovidivan.msk@yandex.ru

                    .footer__contact
                        .footer__contact-head
                            .footer__contact-icon
                                img(src="assets/images/location-dot.svg", alt="icon")
                            .footer__contact-title Адрес фабрики
                        .footer__contact-value
                            p г. Долгопрудныйул. Якова Гунина, д. 1, стр. 3

                    .footer__contact
                        .footer__contact-head
                            .footer__contact-icon
                                img(src="assets/images/bag-shopping.svg", alt="icon")
                            .footer__contact-title Способы оплаты
                        .footer__contact-value
                            p Наличными и безналично

                .footer__nav

                    .footer__nav-link
                        a(href="#") О фабрике
                    .footer__nav-link
                        a(href="#") Услуги
                    .footer__nav-link
                        a(href="#") Цены
                    .footer__nav-link
                        a(href="#") Портфолио
                    .footer__nav-link
                        a(href="#") Контакты

                .footer__services

                    .footer__services-title Постгарантийное обслуживание
                    .footer__services-items
                        .footer__services-image
                            img(src="assets/images/img-1.png", alt="img")
                        .footer__services-image
                            img(src="assets/images/img-2.png", alt="img")
                        .footer__services-image
                            img(src="assets/images/img-3.png", alt="img")
                        .footer__services-image
                            img(src="assets/images/img-4.png", alt="img")
                        .footer__services-image
                            img(src="assets/images/img-5.png", alt="img")
                        .footer__services-image
                            img(src="assets/images/img-6.png", alt="img")

        .footer__bottom

            .container

                .footer__row

                    .footer__copyright © Все права защищены 2023
                    .footer__devs
                        a(href="https://di-project.studio/") Разработка сайта
                        |  by Di-Project
                    .footer__sitemap
                        a(href="#") Карта сайта
                    .footer__policy
                        a(href="#")  Политика конфинедциальности