include _mixins
block header

    header#header.header 

        .container

            .header__logo
                img(src="assets/images/logo.svg", alt="logo")

            nav.nav
                .nav__link О фабрике
                .nav__link Услуги
                .nav__link Цены
                .nav__link Портфолио
                .nav__link Контакты

            .header__phone
                a(href="tel:+ 7 (499) 714-69-26") + 7 (499) 714-69-26
                p whats app официальный аккаунт