include _mixins
block header

    header#header.header 

        .header__inner

            .header__logo
                a(href="/")
                    img(src="assets/images/logo.svg", alt="logo")

            nav.nav#nav
                .nav__logo
                    a(href="/") 
                        img(src="assets/images/logo-black.svg", alt="logo")

                .header__nav
                    .header__nav-link(class= bodyClass == 'about-page' ? 'active' : '')
                        a(href="about.html") О фабрике
                    .header__nav-link(class= bodyClass == 'services-page' ? 'active' : '')
                        a(href="services.html") Услуги
                    .header__nav-link(class= bodyClass == 'price-page' ? 'active' : '')
                        a(href="prices.html") Цены
                    .header__nav-link(class= bodyClass == 'portfolio-page' ? 'active' : '')
                        a(href="portfolio.html") Портфолио
                    .header__nav-link(class= bodyClass == 'contact-page' ? 'active' : '')
                        a(href="contacts.html") Контакты

                .header__contacts.tablet
                    .header__contacts-phone
                        a(href="tel:+ 7 (499) 714-69-26") + 7 (499) 714-69-26
                    .header__contacts-whatsapp
                        a(href="https://wa.me/79774220540") <span>whats app</span> официальный аккаунт
                    .header__contacts-callback.btn-style.btn-style--fill-gray(data-src="#popup-callback" data-fancybox) Заказать звонок

            .header__menu#menu

            .header__contacts
                    .header__contacts-phone
                        a(href="tel:+ 7 (499) 714-69-26") + 7 (499) 714-69-26
                    .header__contacts-whatsapp
                        a(href="https://wa.me/79774220540") <span>whats app</span> официальный аккаунт