@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Playfair+Display:wght@500&family=Roboto+Condensed:wght@300;400&display=swap');

body {
    font-family: 'Oranienbaum', serif;
    font-weight: 400;
    font-size: 16px;
    color: #2B2A29;
}

$playfair: 'Playfair Display', serif;
$roboto: 'Roboto Condensed', sans-serif;