.main-page .section-hero {
    position: relative;
}

.main-page .hero {
    height: calc(max(100vh, 770px));

    @include breakpoint(lg) {
        height: calc(max(100vh, 835px));
    }
}

.main-page .hero-title h1 {
    max-width: 685px;
}

.main {
    position: absolute;
    bottom: -76px;
    width: 100%;
    z-index: 1;

    @include breakpoint(lg) {
        bottom: -65px;
    }
}

.main__inner {
    padding: 21px 10px 16px;
    background-color: #4F4E53;
    position: relative;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    overflow: hidden;

    @include breakpoint(lg) {
        padding: 32px 20px;
    }

    @include breakpoint(xl) {
        padding: 32px 60px;
    }
}

.main__inner::before {
    content: '';
    background-image: url('../images/white-lines.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.main__item {

    @include breakpoint(lg) {
        display: flex;
        align-items: center;
    }
}

.main__item ~ .main__item{
    margin-left: 13px;

    @include breakpoint(hd) {
        margin-left: 100px;
    }
}

.main__item-icon {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;

    @include breakpoint(lg) {
        margin-right: 16px;
        width: 64px;
        height: 64px;
    }
}

.main__label {
    text-align: center;

    @include breakpoint(lg) {
        text-align: unset;
    }
}

.main__label-title {
    
    @include breakpointMax(lg) {
        display: none;
    }
}

.main__label-title {
    font-family: $playfair;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
}

.main__label-price  {
    margin-top: 16px;
    font-family: $roboto;
    font-size: 12px;
    line-height: 150%;
    color: #F9E328;

    @include breakpoint(lg) {
        margin-top: 0;
    }
}

.section-cost {
    padding-top: 80px;
    position: relative;
    z-index: 1;
    transform: translateY(56px);
}

.cost__blocks {
    margin: auto;
    max-width: 490px;

    @include breakpoint(lg) {
        display: flex;
        max-width: unset;
    }
}

.cost-title {
    margin-bottom: 30px;
    color: #2B2A29;

    @include breakpoint(lg) {
        margin: 0 auto 65px;
        max-width: 744px;
    }

    @include breakpoint(xl) {
        margin: 0 auto 70px;
    }
}

.cost__blocks {

    @include breakpoint(lg) {
        margin-left: -20px;
    }

    @include breakpoint(xl) {
        margin-left: -30px;
    }
}

.cost__item {
    margin-bottom: 10px;
    padding: 35px 28px 30px;
    background: #4F4E53;
    color: #fff;
    border-radius: 15px;

    @include breakpoint(lg) {
        margin-left: 20px;
        margin-bottom: 0;
        width: calc(100% / 3);
    }

    @include breakpoint(xl) {
        margin-left: 30px;
    }
}

.cost__item-wrap {
    display: flex;
    justify-content: space-between;
}

.cost__item-title {
    max-width: 224px;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;

    @include breakpoint(lg) {
        font-size: 36px;
    }
}

.cost__item-icon {
    width: 42px;
    height: 42px;

    @include breakpoint(xl) {
        width: 84px;
        height: 84px;
    }
}

.cost__item-text {
    margin-top: 15px;
    font-family: $roboto;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;

    @include breakpoint(lg) {
        font-size: 20px;
    }
}

.cost__banner {
    margin-top: 60px;
    padding: 44px 12px 32px;
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    @include breakpoint(lg) {
        margin-top: 80px;
        padding: 44px 28px 25px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include breakpoint(xl) {
        margin-top: 30px;
        padding: 44px 50px 30px;
    }
}

.cost__banner::after {

    @include breakpoint(lg) {
        content: '';
        background: #CDCCCC;
        position: absolute;
        left: calc(50% - 0.5px);
        display: block;
        width: 1px;
        height: 236px;
    }

    @include breakpoint(xl) {
        height: 196px;
    }
}

.cost__banner-wrap {

    @include breakpoint(lg) {
        width: calc(100% / 12 * 5 + 25px)
    }

    @include breakpoint(xl) {
        width: calc(100% / 12 * 5);
    }
}

.cost__banner-title {
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
}

.cost__banner-title span {
    color: #CEB011;    
}

.cost__banner-text {
    margin-top: 25px;
    font-family: $roboto;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #535352;

    @include breakpoint(xl) {
        margin-top: 30px;
    }
}

.cost__banner-contacts {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #CDCCCC;

    @include breakpoint(lg) {
        margin-top: 0;
        padding-top: 0;
        margin-right: 52px;
        padding-left: 52px;
        width: calc(100% / 12 * 5);
        border-top: 0;
    }

    @include breakpoint(xl) {
        margin-right: 0;
        padding-left: 0;
    }
}

.cost__banner-contacts .btn-style {
    margin: 40px auto 0;
    padding: 24px 30px;
    max-width: 320px;
    font-size: 20px;
    line-height: 27px;
    text-transform: none;
}

.section-works  {
    padding: 115px 0 50px;
    background: linear-gradient(180deg, #36353A 0%, #585862 100%);
    position: relative;
}

.section-works::before {
    content: '';
    background: url('../images/white-lines.png') no-repeat;
    background-position: bottom;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.works-subtitle {
    padding: 0 12px;
    color: #FFFFFF;
}

.works {
    padding: 0 15px;
    position: relative;

    @include breakpoint(lg) {
        padding: 0;
    }
}

.works__label {
    margin: 36px 0 52px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 120%;
    color: #F9E328;
    text-transform: uppercase;

    @include breakpoint(lg) {
        margin: 32px 0 60px;
    }

    @include breakpoint(xl) {
        margin: 32px 0 40px;
    }
}

.works__label-name  ~ .works__label-name  {
    margin-left: 35px;
}

.works__slide {
    max-width: 345px;

    @include breakpoint(lg) {
        height: 460px;
        max-width: 630px;
    }

    @include breakpoint(xl) {
        height: 500px;
        max-width: 685px;
    }
}

.works__slide::before {
    
    @include breakpoint(hd) {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.works__slide.swiper-slide-prev::before {

    @include breakpoint(hd) {
        background: linear-gradient(270deg, rgba(52, 51, 56, 0) 0%, #343338 68.18%);
    }
}

.works__slide.swiper-slide-next::before {

    @include breakpoint(hd) {
        background: linear-gradient(270deg, #343338 31.68%, rgba(52, 51, 56, 0) 100%);
    }
}

.works__slide img {
    max-width: unset;
}

.works__link {
    margin-top: 30px;
    text-align: center;

    @include breakpoint(lg) {
        margin: 64px auto 0;
        position: relative;
        max-width: 258px;
    }

    @include breakpoint(xl) {
        margin: 44px auto 0;
    }
}

.works__link a {
    padding: 20px 30px;
    font-size: 16px;
    line-height: 21px;
}

.section-request {
    padding: 60px 0 120px;

    @include breakpoint(lg) {
        padding: 80px 0;
    }
}

.request-title {
    color: #CEB011;
}

.request {
    margin: 40px auto 0;
    max-width: 420px;

    @include breakpoint(lg) {
        max-width: unset;
    }
}

.request__form {

    @include breakpoint(lg) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.request__input {
    
    @include breakpoint(lg) {
        margin-right: 20px;
        width: 306px;
    }

    @include breakpoint(xl) {
        margin-right: 30px;
        width: 327px;
    }
}

.request__input ~ .request__input {
    
    @include breakpointMax(lg) {
        margin-top: 20px;
    }
}

.request__input input {
    padding: 25px 30px;
    width: 100%;
    font-family: $playfair;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #2B2A29;
    border: 1px solid #2B2A29;
    border-radius: 45px;
}

.request__submit {
    margin-top: 20px;
    padding: 25px;
    width: 100%;

    @include breakpoint(lg) {
        margin-top: 0;
        width: 309px;
    }

    @include breakpoint(xl) {
        width: 329px;
    }
}

.request__agreement {
    margin-top: 40px;
    font-family: $roboto;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #7C7B7B;
}

.request-features {
    margin-top: 96px;
    margin-left: -10px;
    margin-bottom: -60px;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(lg) {
        margin-top: 116px;
        margin-left: -23px;
    }

    @include breakpoint(xl) {
        margin-top: 96px;
        margin-left: -20px;
    }
    
    @include breakpoint(hd) {
        margin-left: -30px;
    }
}

.r-features__item {
    margin-left: 10px;
    margin-bottom: 60px;
    padding: 0 10px 26px;
    background: #4F4E53;
    width: calc(50% - 10px);
    border-radius: 15px;

    @include breakpoint(lg) {
        margin-left: 23px;
        padding: 0 25px 42px;
        width: calc(100% / 3 - 23px);
    }

    @include breakpoint(xl) {
        margin-left: 20px;
        padding: 0 18px 14px;
        width: calc(100% / 6 - 20px);
    }

    @include breakpoint(hd) {
        margin-left: 30px;
        padding: 0 18px 14px;
        width: calc(100% / 6 - 30px);
    }
}

.r-features__icon {
    margin: 0 auto;
    background: #F9E328;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 91px;
    height: 72px;
    border-radius: 20px;  
    transform: translateY(-36px);  
}

.r-features__title {
    margin-top: -12px;
    margin-bottom: 17px;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #F9E328;

    @include breakpoint(lg) {
        font-size: 24px;
    }
}

.r-features__text {
    font-family: $roboto;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.section-options  {
    padding: 60px 0 200px;
    background: linear-gradient(180deg, #36353A 0%, #585862 100%);
    position: relative;
}

.section-options::before {
    content: '';
    background: url('../images/white-lines.png') no-repeat;
    background-position: bottom;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.options-subtitle {
    color: #fff;
}

.options {
    margin-top: 50px;
    margin-bottom: -45px;

    @include breakpoint(lg) {
        margin-top: 25px;
        margin-left: -20px;
        margin-bottom: -56px;
        display: flex;
        flex-wrap: wrap;
    }

    @include breakpoint(xl) {
        margin-top: 60px;
        margin-left: -30px;
        margin-bottom: -45px;
    }
}

.options__item {
    margin: 0 auto 45px;
    padding: 30px 25px;
    background: #FFFFFF;
    position: relative;
    height: 290px;
    max-width: 525px;
    border: 1px solid #60707E;
    border-radius: 15px;

    @include breakpoint(lg) {
        margin: 0;
        margin-left: 20px;
        margin-bottom: 56px;
        width: calc(100% / 3 - 20px);
        height: auto;
        max-width: unset;
    }

    @include breakpoint(xl) {
        margin-left: 30px;
        margin-bottom: 45px;
        width: calc(25% - 30px);
    }
}

.options__item::before {
    content: '';
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 51.61%);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.options__item-title {
    margin-bottom: 16px;
    position: relative;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(lg) {
        font-size: 24px;
    }
}

.options__item-img {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 260px;
    height: 200px;
    text-align: center;

    @include breakpoint(xl) {
        width: auto;
    }
}

.options__item-img img {
    height: 100%;
}

.options__item-link a {
    background: #60707E;
    position: absolute;
    left: calc(50% - 25px);
    bottom: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .4s ease;
    transform-origin: center;
}

.options__item-link:hover a {
    transform: rotate(90deg);
}

.section-calc {
    position: relative;
    z-index: 1;
}

.calc-title {
    margin-bottom: 30px;
    color: #2B2A29;

    @include breakpoint(lg) {
        margin-bottom: 20px;
    }
}

.calc {
    padding: 50px 16px 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transform: translateY(-130px);

    @include breakpoint(lg) {
        padding: 80px 26px 50px;
    }

    @include breakpoint(xl) {
        padding: 80px 117px 50px;
    }
}

.calc__row {
    padding: 18px 9px;

    @include breakpoint(lg) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.calc__row ~ .calc__row {
    border-top: 1px solid #EAEAEA;
}

.calc__row-text {
    margin-bottom: 10px;
    font-family: $roboto;
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    color: #535352;

    @include breakpoint(lg) {
        margin-bottom: 0;
        font-size: 24px;
    }
}

.calc__row-value {
    font-family: $playfair;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #535352;
}

.calc__calc {
    margin-top: 16px;
    padding-top: 25px;
    position: relative;
    border-top: 1px solid #EAEAEA;

    @include breakpoint(lg) {
        margin-top: 50px;
        padding-top: 70px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.calc__calc::before {
    content: '';
    background: url('../images/photo.svg') no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: calc(50% - 40px + 45px);
    left: calc(50% - 37px);
    display: block;
    width: 74px;
    height: 80px;
    z-index: 0;

    @include breakpoint(lg) {
        top: calc(50% - 70px);
        left: calc(50% - 75px);
        width: 162px;
        height: 175px;
    }

    @include breakpoint(xl) {
        left: calc(50% - 60px);
    }
}

.calc__calc-left {

    @include breakpoint(lg) {
        position: relative;
        width: calc(100% / 12 * 6 + 50px);
        max-width: 486px;
    }
}

.calc__calc-title  {
    margin: 0 auto;
    max-width: 310px;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(lg) {
        max-width: unset;
        font-size: 36px;
        text-align: unset;
    }
}

.calc__calc-text {
    margin: 5px auto 0;
    position: relative;
    max-width: 430px;
    font-family: $roboto;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #535352;

    @include breakpoint(lg) {
        margin: 30px 0 0;
        max-width: 370px;
        font-size: 20px;
        text-align: unset;
    }
}

.calc__calc-right {

    @include breakpoint(lg) {
        position: relative;
        width: calc(100% / 12 * 5 - 30px);
    }
}

.calc__calc-info {
    margin: 60px auto 0;
    position: relative;
    max-width: 310px;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(lg) {
        margin: 0 auto;
    }
}

.calc__calc-btn {
    margin: 30px auto 0;
    padding: 20px;
    max-width: 264px;

    @include breakpoint(lg) {
        margin: 50px auto 0;
        padding: 24px;
        max-width: 335px;
        font-size: 20px;
    }
}

.section-portfolio-videos {
    --margin: -200px;

    margin-bottom: var(--margin);
    padding: 130px 0 40px;
    background: linear-gradient(180deg, #F1F1F1 0%, rgba(241, 241, 241, 0) 100%);
    transform: translateY(var(--margin));

    @include breakpoint(xl) {
        --margin: -250px;
        padding: 196px 0 86px;
    }
}

.p-videos-title {
    margin-bottom: 60px;
    color: #2B2A29;

    @include breakpoint(lg) {
        margin-bottom: 65px;
    }
}

.p-videos {
    padding: 0 16px;
    position: relative;
}

.p-videos__slide {
    padding: 20px;
    position: relative;
    max-width: 360px;
    border: 1px solid #A4A4A3;
    border-radius: 30px;
    overflow: hidden;

    @include breakpoint(lg) {
        max-width: 472px;
    }

    @include breakpoint(hd) {
        padding: 30px;
        max-width: 684px;
    }
}

.p-videos__slide::before {
    content: '';
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 15px;
}

.p-videos__slide .play-btn {
    background: url('../images/play.svg') no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 1;
}

.p-videos__slide video  {
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: middle;
    border-radius: 15px;
}

.p-videos .slider-navigation {

    @include breakpoint(lg) {
        --max-width: 472px;
    }

    @include breakpoint(hd) {
        --max-width: 684px;
    }
}

.p-videos__btn {
    margin-top: 30px;
    text-align: center;

    @include breakpoint(lg) {
        margin-top: 50px;
    }
}

.p-videos__btn .btn-style {
    padding: 20px 30px;
}