---
title: ОбновиДиван | Цены
bodyClass: price-page
---

extends includes/_page

block main

    section.section-hero(style="background-image: url(assets/images/modern-black-leather-sofa-with-pillows-dark-backgroundgenerative-ai_2.png)")

        .hero

            .container

                include components/_breadcrumbs
                +breadcrumbs('Цены')

                .hero-title
                    h1 Цены
                .hero-subtitle Компания ОбновиДиван — лидирующая российская фабрика по ремонту, перетяжке и восстановлению мебели. Мы работаем с ХХХХ года для того, чтобы ваша мягкая мебель служила вам долго и была лучше новой.
    
    section.section-price

        .tabs

            .swiper

                .swiper-wrapper

                    .tabs__item.swiper-slide.active(data-active=1)
                        p Все работы
                    .tabs__item.swiper-slide(data-active=2)
                        p Перетяжки
                    .tabs__item.swiper-slide(data-active=3)
                        p Реставрация
                    .tabs__item.swiper-slide(data-active=4)
                        p Стеновые панели
                    .tabs__item.swiper-slide(data-active=5)
                        p Обивка

        .container
            
            .calc.animate__animated.animate__fadeIn.active(data-tabs data-show=1)

                h2.calc-title.section-title Стоимость Работ

                .calc__block

                    .calc__row
                        .calc__row-text Диван с деревянными подлокотниками
                        .calc__row-value от 5 000 ₽

                    .calc__row
                        .calc__row-text Диван с мягкими подлокотниками
                        .calc__row-value от 6 500 ₽ 
                    
                    .calc__row
                        .calc__row-text Угловой диван
                        .calc__row-value от 12 000 ₽ 
                    
                    .calc__row
                        .calc__row-text Кожаный диван
                        .calc__row-value от 25 000 ₽ 
                    
                    .calc__row
                        .calc__row-text Кресло с деревянными подлокотниками
                        .calc__row-value от 3 500 ₽ 
                    
                    .calc__row
                        .calc__row-text Кресло с мягкими подлокотниками
                        .calc__row-value от 4 500 ₽ 
                    
                    .calc__row
                        .calc__row-text Стул с подлокотниками
                        .calc__row-value от 2 500 ₽ 
                    
                    .calc__row
                        .calc__row-text Стул спинка + сидушка
                        .calc__row-value от 999 ₽ 
                    
                    .calc__row
                        .calc__row-text Стул с деревянной спинкой
                        .calc__row-value от 800 ₽

                .calc__calc

                    .calc__calc-left
                        .calc__calc-title рассчитайте стоимость реставрации мебели по фото
                        .calc__calc-text Поможем с выбором материала и предложим варианты перетяжки обивки и реставрации мебели на месте.

                    .calc__calc-right
                        .calc__calc-info Прикрепите фото и опишите проблему, мы найдем решение
                        .calc__calc-btn.btn-style.btn-style--fill-yellow(data-src="#popup-calc" data-fancybox) Рассчитать стоимость


            .cost__banner.black-style
                .cost__banner-wrap
                    .cost__banner-title В среднем весь комплекс работ занимает <span>всего 9 дней!</span>
                    .cost__banner-text Поможем с выбором материала и предложим варианты перетяжки обивки и реставрации мебели на месте.
                .cost__banner-contacts
                    a(href="tel:+ 7 (499) 714-69-26") + 7 (499) 714-69-26
                    .btn-style.btn-style--fill-yellow(data-src="#popup-calc" data-fancybox) Рассчитать стоимость
    
    section.section-seo.section-gray

        .container

            h2.seo-title.section-title SEO Text
            .seo-subtitle.section-subtitle Любимая мебель заслуживает второго шанса. Посмотрите, как она преображается и обретает вторую жизнь в наших руках

            .seo__content

                p Мебельную обивку большинство покупателей воспринимает как декоративный элемент, подбирая ее к интерьеру гостиной, забывая о практичности. «Ой, какие красивенькие розочки!» — говорит покупательница и платит деньги, не задумываясь о том, что спустя неделю эти самые красивенькие розочки станут жертвой когтей кота или собачки, а на светлой обивке навечно останется пятно от случайно пролитого детьми вишневого сока.
                  br
                  br
                  |Свойства материала обивки, в конечном счете, влияют на то, как долго прослужит диван или кресло: легко ли будет его чистить, как хорошо материал обивки сопротивляется влаге и грязи, насколько он устойчив к выгоранию и истиранию — все эти вопросы желательно прояснить до того, как достанете кошелёк.

                p Немного технических подробностей: для обивки мебели используется два типа тканей — покрывная и обивочная. Покрывной тканью укрывают пружины и прочие конструктивные элементы каркаса дивана, из нее шьют изнанку чехлов и ей обивают внутренние поверхности диванов и кресел. Обычно это плотная мешковина или толстая хлопчатобумажная ткань.
                  br
                  br
                  |Обивочная ткань — то, что используется для внешней обивки, та самая красота и практичность, о которой мы с вами и поговорим. Начнем по порядку, с самых популярных материалов.
